<div class="bg-dark border-right p-3" id="sidebar">
    <h3 class="text-light">  Gifs y Paises </h3>
    <hr class="text-white">
    <div class="list-group list-reset">
        <button routerLink="gifs" class="btn btn-light rounded-pill px-3">
           GIFS
        </button>
    </div> 
    <hr class="text-white">
    <div class="list-group list-reset">
        <h5 class="text-light">  Paises </h5>
        <div class="list-group list-reset">
            <ul class="list-group" style="cursor:pointer;">
                <span class="badge bg-success-subtle text-success-emphasis rounded-pill"
                     routerLink="paises" routerLinkActive="active">Buscar País</span>
                <span class="badge bg-success-subtle text-success-emphasis rounded-pill"
                routerLink="continentes" routerLinkActive="active">Buscar Región</span>
                <span class="badge bg-success-subtle text-success-emphasis rounded-pill"
                routerLink="regiones" routerLinkActive="active">Buscar Capital</span>
            </ul>              
        </div>
    </div> 
<hr class="text-white">
</div>